body {
    margin: auto;
    
    font-family: "Segoe UI Light", sans-serif;
    font-weight: 50%;
    color: black;
}

a { text-decoration: none; }

header {
    margin: 0px;
    padding: 0px;
    height: 30px;
    width: auto;
    background-color: lightgrey;
}

#country-label {
    width: 72px;
    background-color: lightgrey;
    margin: 5px;
    padding: 1px;
    border-color: lightgrey;
    vertical-align: middle;
    left: 24%;
    position: absolute;
}

#language-label {
    width: 72px;
    background-color: lightgrey;
    margin: 5px;
    padding: 1px;
    border-color: lightgrey;
    vertical-align: middle;       
    left: 28%;
    position: absolute;
}

#language-img {
    display: inline-block;
    height: 30px;
    width: 50px;
}

#language-img img {
    padding-top: 4px;
    height: 23px;
    width: 35px;
    left: 22%;
    position: absolute;
}

#account-label {
    width: 120px;
    background-color: lightgrey;
    margin: 5px;
    padding: 1px;
    border-color: lightgrey;
    vertical-align: middle;       
    left: 68%;
    position: absolute;
}

#cart-img {
    display: inline-block;
    height: 30px;
    width: 50px;
    position: absolute;
    left: 74.5%;
}

#cart-img img { 
	border:1px solid #d3d3d3;
	vertical-align:bottom;
}

#cart-img:focus {
	border:0; 
	z-index:1;
}

#cart-img span { 
	position:absolute;
	visibility:hidden;
}

#cart-img:focus span { 
	visibility:visible;
	top:37px; left:37px; 
}

#welcome-msg {
    font-size: 17px;
    width: 560px;
    padding-top: 25px;
    padding-bottom: 15px;
    transform: translatex(113%);
    padding-top: 16px;
    padding-bottom: 17px;
}

#main-menu {
    
    border-bottom-style: solid;
    border-bottom-width: 4PX;
    border-bottom-color: #7C7C7C;
    height: 73px;
    width: auto;
    background-color: #C3C5C8;
}

#main-menu img{
    padding-top: 30px;
    position: absolute;
    left: 22%;
}

.head-border {
    background: linear-gradient(to bottom,
    rgb(255, 255, 255),
    rgb(222, 222, 222));
    padding-bottom: 10px;
}

.top-nav {
    background: #c3c5c7;
    
}

.top-nav ul {
    display: inline; 
    float: left;
    list-style: none;
    transform: translatex(79%);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    
}
/* testing */


.top-nav ul li {
    display: inline-block;
    position: relative;
    
    cursor: pointer;
    color: white;
    
}

.top-nav ul li:hover {
  background-color: #CBCBCC;
  color: white;
    
}

.top-nav ul li ul {
    
  padding: 0;
  position: absolute;
  top: 67px;
    color: white;
  right: 163px;
  width: 155px;
    
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
    width: 100%;
    border: none;
}

.top-nav ul li ul li { 
  background-color: #9AC652; 
  display: block; 
  color: white;
    text-indent: 15px ;
     
    font-weight: 600;
  text-shadow: 0 -1px 0 #000;
   width: 115%; 
    height: 35px;
    border: none;
    padding-top: 10px
}

.top-nav ul li ul li:hover { 
    background-color: #9AC652; 
    
}

.top-nav ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}


/* testing */

.top-nav li {
    color: black;
    font-size: 17px;
    display: inline; 
    float: left;
    border-left: 1px solid #7a7a7a; 
    margin: 0;
    padding: 0;
    height: 66px;
}

.top-nav li:hover { 
    background-color: #CFCFCF;
}

.top-nav li:nth-child(6) {
     border-right: 1px solid #7a7a7a; 
}

.top-nav li a {
    color: black;
    display: inline-block;
    text-decoration: none;
    color: #7a7a7a;
    padding: 20px 13px;
    margin: 0;
}

#img-carousel {
    
    width: 100%;
    height: 415px;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #7C7C7C;
}

#center-imgs {
    display: inline-block;
    height: auto;
    width: 100%;
}

#center-imgs ul{
    display: inline-block; 
    float: left;
    transform: translatex(32%);
}

#center-imgs li{
    display: inline; 
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    margin-left: 15px;
}

#center-imgs li img{
    display: inline-block;
    height: 110px;
    width: 245px;
}

#center-banner1 p{
    text-align: center;
    color: white;
    background-color: #9ac652;
    margin: 0;
    margin-top: -4px;
}

#center-banner2 p{
    text-align: center;
    color: white;
    background-color: #24B5D4;
    margin: 0;
    margin-top: -4px;
}

#center-banner3 p{
    text-align: center;
    color: white;
    background-color: #EF6431;
    margin: 0;
    margin-top: -4px;
}

#center-banner4 p{
    text-align: center;
    color: white;
    background-color: #7E888D;
    margin: 0;
    margin-top: -4px;
        
}

.center-text {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 245px;
}

 #center-imgs .center-cart { 
    display: inline-block;
    height: 60px;
}

 
footer {
    height: 148px;
}


footer ul{ 
    
    float: left;
    transform: translatex(50%);
}

#bottom-menu-left li{
    display: inline-block;  
    margin-right: 110px;
    font-size: 13px;
    margin-top: 15px;
    
}

#bottom-menu-left li a{
    color: black;
}

#bottom-menu-right li{
    display: inline-block;  
    margin-left: 60px;
}

#copyright{
    font-size: 17px;
    color: darkgray;
    padding-top: 45px;
    display: block;
    position: absolute;
    transform: translatex(129%);
}



hr {
    border-width: 0;
    background-color: #c3c5c8; 
    height: 2px; 
    width: 100%;
    border-bottom: 2px solid #e1e2e3;
   
}








